@import './color.scss';

.navbar.fixed-left {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1030;
    background-color: $grayBlue;
    flex-direction: column;
    width: 80px;

    .navbar-brand {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .navbar-collapse {
        flex-direction: column;
    }
}

.menu-item {
    margin: 10px 0;
    &.active svg {
        fill: $white;
    }
    svg {
        fill: $menuGray;
    }
}


.jumbotron {
    padding: 0;
    padding-left: 80px;
    background-color: $grayBackground;
}

.top-header-wrapper {
    background-color: white;
    padding: 18px 32px;
    display: flex;

    .top-header-item {
        display: flex;
        flex-direction: column;
        margin-right: 24px;
        font-size: 19px;
        font-weight: 400;
        color: $grayPure;

        span {
            color: $lightGrayPure;
            font-size: 13px;
        }
    }
}

.main-wrapper {
    padding: 40px 32px;

    .page-title {
        font-weight: 300;
        font-size: 39px;
        line-height: 46px;
        color: $grayPure;
        margin-bottom: 16px;
    }
}

.code-list-wrapper {
    .one-promo-code {
        background-color: white;
        padding: 26px 32px;
        margin: 0 0 24px 0;

        .service-wrapper {
            display: flex;
            flex-direction: column;

            .service-title {
                font-size: 29px;
                color: black;
                font-weight: 300;
                line-height: 42px;
            }

            .service-description {
                font-size: 15px;
                color: $lightGrayPure;
                margin-top: 10px;
            }
        }

        .promo-code-wrapper {
            .promo-code-label {
                font-size: 11px;
                font-weight: 400;
                color: $lightGrayPure;
            }

            .input-group {
                input {
                    height: 48px;
                    border-right: none;
                    border-color: $grayBorder;
                    background-color: white;
                }

                button {
                    border-left: none;
                    border-color: $grayBorder;
                    background-color: transparent;
                }
            }

            .btn-activate-bonus {
                height: 48px;
                padding: 12px 87px;
            }
        }
    }
}

.search-input {
    max-width: 400px;
}

.error-template {
    padding: 40px 15px;text-align: center;
}

.error-actions {
    margin-top:15px;margin-bottom:15px;
}

.error-actions .btn {
    margin-right:10px;
}



.code-filter-wrapper {
    margin-bottom: 24px;
    color: $grayPure;

    label {
        font-size: 11px;
        font-weight: 400;
        color: $lightGrayPure;
    }

    input {
        height: 48px;
        border-radius: 4px;
    }

    button {
        height: 48px;
        padding: 10px 50px;
        background-color: $grayBackground;
        color: $grayPure;
        border-color: $grayBorder;
    }
}

@media (max-width:990px) {
    .navbar.fixed-left {
        flex-direction: row;
        bottom: auto;
        right: 0;
        width: auto;
        background-color: $lightGray;

        .navbar-brand {
            margin-bottom: 0px;
        }
    }

    .jumbotron {
        padding: 90px 0;
    }

    .code-list-wrapper {
        .one-promo-code {
            .service-wrapper {
                margin-bottom: 20px;
            }

            .promo-code-wrapper {
                .input-group {
                    margin-bottom: 10px;
                }

                .btn-activate-bonus {
                    height: auto;
                    width: 100%;
                    padding: 10px;
                }
            }
        }
    }
}

@media (min-width:991px) and (max-width:1370px) {
    .code-list-wrapper {
        .one-promo-code {
            .promo-code-wrapper {
                .input-group {
                    margin-bottom: 10px;
                }

                .btn-activate-bonus {
                    height: auto;
                    width: 100%;
                    padding: 10px;
                }
            }
        }
    }
}